<!-- octoprint_printcounter/templates/printcounter.jinja2 -->
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapsePrintCounter">
            PrintCounter Plugin Settings
        </a>
    </div>
    <div id="collapsePrintCounter" class="accordion-body collapse">
        <div class="accordion-inner">
            <button class="btn btn-danger" id="reset_counts_button">Reset Print Counts</button>
        </div>
    </div>
</div>
