<!-- Print Counter Plugin Settings -->
<div id="settings_printcounter" class="container">
    <h3>Print Counter</h3>
    <button class="btn btn-danger" data-bind="click: resetCounts">Reset Print Counts</button>
    <p data-bind="visible: resetStatus">The print counts have been reset.</p>
</div>
